.heading-main {
  font-family: 'Lobster', cursive;

}

@media (min-width: 768px) {
  .cover-heading {
      font-size: 5em;
  }
  .lead {
      font-size: 4em;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}