/*.item {
    background: url('../images/banner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
.heading-main {
  font-family: 'Lobster', cursive;

}

@media (min-width: 768px) {
  .cover-heading {
      font-size: 5em;
  }
  .lead {
      font-size: 4em;
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/*body {
  background: url('../images/banner.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
